<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szu.mapper.ContentMapper">

    <insert id="addRating">
        insert into ratings (content_id, user_id, rating_value, created_at, updated_at) values (#{contentId}, #{userId}, #{rating}, NOW(), NOW())
    </insert>

    <insert id="addContent" parameterType="com.szu.entity.Content" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into contents (title, cover_image, content_body, author_id, view_count, comment_count, status, is_deleted, created_at, updated_at, comments, tags, likes, images)
        values (#{title}, #{coverImage}, #{contentBody}, #{authorId}, #{viewCount}, #{commentCount}, #{status}, #{isDeleted}, NOW(), NOW(), #{comments}, #{tags}, #{likes}, #{images})
    </insert>

    <insert id="addAvgRating">
        insert into avg_ratings (content_id, one, two, three, four, five, create_time, update_time) values (#{id}, 0, 0, 0, 0, 0, now(), now())
    </insert>


    <update id="addRatingCount">
        update avg_ratings
        <set>
            <if test="rating == 1">
                one = one + 1
            </if>
            <if test="rating == 2">
                two = two + 1
            </if>
            <if test="rating == 3">
                three = three + 1
            </if>
            <if test="rating == 4">
                four = four + 1
            </if>
            <if test="rating == 5">
                five = five + 1
            </if>
        </set>
        where content_id = #{contentId}
    </update>

    <update id="likeContent">
        update contents
        <set>
            likes = #{likes}
        </set>
        where id = #{id}
    </update>

    <update id="update">
        update contents set comments = #{comments}, comment_count = #{commentCount}, updated_at = NOW() where id = #{id}
    </update>

    <select id="selectContentById" resultType="com.szu.entity.Content">
        select * from contents where id = #{id}
    </select>

    <select id="selectAuthorNameByContentId" resultType="java.lang.String">
        select name from client_user left join contents on client_user.id = contents.author_id where contents.id = #{id}
    </select>

    <select id="listContents" resultType="java.lang.Integer">
        select contents.id from contents order by ${sortBy} ${sortOrder}
    </select>

    <select id="getRatingCountByContentId" resultType="com.szu.entity.AvgRating">
        select * from avg_ratings where content_id = #{contentId}
    </select>

    <select id="getRating" resultType="java.lang.Integer">
        select rating_value from ratings where content_id = #{contentId} and user_id = #{userId}
    </select>
</mapper>