<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szu.mapper.UserMapper">

    <insert id="addUser" parameterType="com.szu.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into client_user (openid, avatar, name, create_time, update_time)
        values (#{openid}, #{avatar}, #{name}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateUser">
        update client_user
        <set>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
            <if test="signature != null">
                signature = #{signature},
            </if>
            update_time = NOW()
        </set>
        where openid = #{openid}
    </update>
</mapper>